/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 400px;
    height: 465px; /*to show zoom thing*/
}

#map2 {
    width: 400px;
    height: 300px; /*to show zoom thing*/
}