<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-view view-title="Add a Device">
  <ion-content class="padding">
  
{{device}}


<div class="list">

<!-- TODO fix...not registering on change event -->
  <label class="item item-input item-select">
    <div class="input-label">
     <strong> Device </strong>
    </div>
        <select ng-change="setCharger()" ng-model="device" ng-options="device as device.name for device in devices"></select>

  </label>

  <label class="item">
    <strong>Charger</strong>
    <span class="item-note">
        {{charger.name}}
    </span>
  </label>

  <div class="padding">
      <button class="button button-block button-calm" ng-click="addDevice()">Add device</button>
  </div> 

 <div class="padding">
      <button class="button button-block button-assertive" ng-click="close()">Close</button>
  </div> 




  </ion-content>
</ion-view>
