<ion-view view-title="Add a Device">
    <ion-nav-buttons side="primary">
      <button class="button button-clear button-calm" ng-click="close()">
        Back
      </button>
    </ion-nav-buttons>



  <ion-content class="padding">

<div class="list">

<!-- TODO fix...not registering on change event -->
  <label class="item item-input item-select">
    <div class="input-label">
     <strong> Device </strong>
    </div>
        <select ng-change="setCharger(device)" ng-model="device" ng-options="device as device.name for device in devices"></select>

  </label>

  <label class="item">
    <strong>Charger</strong>
    <span class="item-note">
        {{charger.name}}
    </span>
  </label>

  <div class="padding">
      <button class="button button-block button-calm" ng-click="addDevice(device)">Add device</button>
  </div> 

<!--  <div class="padding">
      <button class="button button-block button-assertive" ng-click="close()">Close</button>
  </div>  -->




  </ion-content>
</ion-view>
