<ion-view view-title="Contact Lender?">

<ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
                      <img ng-src='{{item.charger_photo}}'>

        <h2> Borrow {{item.charger_name}} </h2>
        <p>for {{item.personal_device_name}}</p>
      </div>
      <div class="item item-avatar">
        <img src="http://www.sfdevs.com.au/citysafe/media/avatar.jpg">
        <h2>{{lender.first_name}}</h2>
        <p>{{rounded_distance}} miles away</p>
        <p>Average Rating: {{lender.rating}} stars</p>
        <p>{{lender.facebook_mutual_friend_count}} mutual friends</p>
      </div>
    
    <div class-"item" id="map2" data-tap-disabled="true">
    </div>
     
    
      <div class="item">
           <button class="button button-block button-balanced" ng-click="createTransaction()">Send {{lender.first_name}} a borrow request</button>
      </div>
    
</ion-content>
</ion-view>