<ion-view view-title="Borrow Item">
  <ion-content class="padding">
  &nbsp;
     <h2><center> {{item_details.charger_name}}</center></h2>
     <br/><br/>
    <center>
      Estimate how long you would like to borrow the charger
    </center>
    <br/>
    <div class="item range">
    	<i>0 hours</i>
    	<input type="range" name="volume" min="0" max="60" ng-model="rangeValue" ng-change="drag(rangeValue)">
    	<i>1 hour</i>
    </div>
    <h4><center>{{minutes}} Minutes<center></h4>
    &nbsp;</br>

     <!--  <a href="#/tab/borrow/findLender/{{owned_deviceID}}/{{charger_id}}/{{rangeValue}}/{{nearest_lender_id}}" class="button button-block button-balanced" align="center">Match me with a lender!</a>
 -->

     <a href="#/tab/borrow/findLender/{{owned_deviceID}}/{{charger_id}}/{{rangeValue}}" class="button button-block button-positive" align="center">Browse Map</a>
<!--      <a href="#/map" class="button button-block button-positive" align="center">Find Lenders</a>
 -->     


  </ion-content>
</ion-view>