<ion-view view-title="HI"><!-- {{owned_device.personal_device_name}}"> -->
  <ion-content class="padding">

    <!-- <div class="item range">
    	<i>0</i>
    	<input type="range" name="volume" min="0" max="180" ng-model="rangeValue" ng-change="drag(rangeValue)">
    	<i>3 hours</i>
    </div> -->
<!--     </br>
 --><!--     <h4>{{hours}} Hours and {{minutes}} Minutes</h4>
    &nbsp;</br> -->
<!--     <button class="button button-positive" align="center">
    	Find Lenders
    </button>    
 -->

    <div class="row">
      <h4>
        {{owned_device.personal_device_name}} Details
      </h4>
    </div>
    <div class="row">
      <div class="col col-50">.col.col-50</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>

    <div class="row">
      <div class="col col-75">.col.col-75</div>
      <div class="col">.col</div>
    </div>

    <div class="row">
      <div class="col">.col</div>
      <div class="col col-75">.col.col-75</div>
    </div>

    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>

    <button class="button icon-left button-block button-assertive">
      Delete Device
    </button>

  </ion-content>
</ion-view>