<ion-view name="login-view" view-title="Spark Login">
  <ion-content>
    <div class="item text-center"> 
      <img ng-src="/img/logo.png" width="100px">
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="data.user.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.user.password">
      </label>
    </div>


    <div class="padding">
      <button class="button button-block button-calm" ng-click="login()">Login</button>
    </div>
    
    <div class="padding">
      <a class="button button-block" href="#/register">Register</a>
    </div>
    <br><br>
<!--     <div class="padding">
      <button class="button button-block button-positive" ng-click="fbLogin()">
        Login with Facebook
      </div> -->
    </label>
  </ion-content>
</ion-view>