<ion-view name="register-view">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="data.user.first_name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name" ng-model="data.user.last_name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="data.user.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.user.password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password Confirmation</span>
        <input type="password" placeholder="Password Confirmation" ng-model="data.user.password_confirmation">
      </label>
    </div>
    
    <div class="padding">
      <button class="button button-block button-calm" ng-click="register()">Register</button>
    </div>
    
    <div class="padding">
      <a class="button button-block" href="#/login">Login Instead</a>
    </div>
  </ion-content>
</ion-view>