<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="My Transactions">
  <ion-content class="padding">
    <div class="card">
    <div class="item item-divider">
      Requested Transactions
    </div>
    <div class="item item-text-wrap">
      <div class="list" ng-repeat="requested_transaction in requested_transactions">
        <p>{{requested_transaction.time_requested}}</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Current Transactions
    </div>
    <div class="item item-text-wrap">
      <div class="list" ng-repeat="current_transaction in current_transactions">
        <p>{{current_transaction.length_time_requested}}</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="item item-divider">
      Past Transactions
    </div>
    <div class="item item-text-wrap">
      <div class="list" ng-repeat="past_transaction in past_transactions">
        <p>{{past_transaction.length_time_requested}}</p>
      </div>
    </div>
  </div>

</ion-content>
</ion-view>