<ion-view view-title="Lend">
		<ion-nav-buttons side="primary">
		  <button class="button button-clear button-positive" ng-click="editClicked()">
	    	<span ng-if="!editPressed"> Edit</span> 
	    	<span ng-if="editPressed"> Cancel</span> 
		  </button>
		</ion-nav-buttons>
		<ion-nav-buttons  side="right">
		  <button ng-show="editPressed" class="button button-clear button-assertive" ng-click="deleteOwnedDevices()">
		    Delete
		  </button>
		</ion-nav-buttons>

		<ion-content class="padding">

		<!-- this link is just to test the rating page -->
		<!-- <div><a href="#/tab/lend/rating">rate</a></div> -->

	  <div id="lendHeader">
	    <h4>
	    	Hey {{userFirstName}}! 
	    </h4>
	    <h5>You have <b>{{owned_devices.length}}</b> 
	    	<span ng-if="devices.length==1"> item</span> 
	    	<span ng-if="devices.length!=1"> items</span> 
	    	ready to lend!
	    </h5>
    </div>

     <ion-list ng-show="editPressed">
			<div class="list"  ng-repeat="owned_device in owned_devices">
	      <div class="item  item-thumbnail-left">
		        <img ng-src='{{owned_device.charger_photo}}'å>
	      		<label class="checkbox" ng-model ="ids[owned_device.id]">
		       		<h2>{{owned_device.charger_name}}</h2>
		       		<p>For {{owned_device.personal_device_name}}</p>
							<input type="checkbox" ng-model ="ids[owned_device.id]">
						</label>
	      </div>
	    </div>
    </ion-list>


    <ion-list ng-show="!editPressed">
			<div class="list" ng-repeat="owned_device in owned_devices">
	      <div class="item item-thumbnail-left toggle-right"> <!-- href="#/tab/lend/{{owned_device.id}}" -->
		        <img ng-src='{{owned_device.charger_photo}}'å>
		        <h2>{{owned_device.charger_name}}</h2>
		        <p>For {{owned_device.personal_device_name}}</p>
			        <label class="toggle toggle-balanced">
					      <input ng-model="owned_device.allow_lending" ng-change="toggleChange(owned_device)" type="checkbox">
					       <div class="track">
					         <div class="handle"></div>
					       </div>
					     </input>
				     </label>
 	        	<span id = "lendToggle">Lending 
   	        	<span ng-if="owned_device.allow_lending==false"> Off</span> 
	    				<span ng-if="owned_device.allow_lending==true"> On</span>
	    			</span>
	      </div>
	    </div>

	    <a href="#/add" class="button icon-left ion-home ion-plus button-block button-light">
	      Add a Device
	    </a>
	    <a class="button icon-left ion-gear-a button-block button-light" href = "#/user/{{userId}}"><!-- /{{userId}}"> -->
	      Edit User Information
	    </a>
	    <div class="padding">
		 	 <button class="button button-block button-calm" ng-click="logout()">Logout</button>
			</div>
    </ion-list>
  </ion-content>
</ion-view>