<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Borrow">
  <ion-content class="padding">
  Tap a device to find a nearby charger. <br/><br/>
    <div class="list" ng-repeat="device in devices">
      <a class="item item-thumbnail-left" href="#/tab/borrow/{{owned_device.id}}">
        <img src='{{}}'>
        <h2>{{device.name}}</h2>
        <p>{{device.charger_name}}</p>
      </a>
    </div>
    <a href="#/add" class="button icon-left ion-home ion-plus button-block button-light">
      Add a Device
    </a>
  </ion-content>
</ion-view>
