<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Borrow a Charger">
  <ion-content class="padding">
  <h5>Tap a device to find a nearby charger. </h5>
    <div class="list" ng-repeat="owned_device in owned_devices">
      <a class="item item-thumbnail-left" href="#/tab/borrow/{{owned_device.id}}">
        <img ng-src='{{owned_device.charger_photo}}'>
        <h2>{{owned_device.personal_device_name}}</h2>
        <p>{{owned_device.charger_name}}</p>
      </a>
    </div>
    <a href="#/add" class="button icon-left ion-home ion-plus button-block button-light">
      Add a Device
    </a>
  </ion-content>
</ion-view>
