<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="My Transactions">
  <ion-content class="padding">

<!--   <h3>      
    Requested Transactions
  </h3>
  <h5>None</h5>
  <div ng-repeat="requested_transaction in requested_transactions">
    <div class="list card">
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Borrow Request for iPhone 6S Charger</h2>
        <p>From Sarah Smith</p>
      </div>
      <div class="item item-text-wrap">
          <span ng-if="requested_transaction.lender_id==userId"> 
            <p>You are lending</p>
          </span> 
          <span ng-if="requested_transaction.borrower_id==userId">
            <p>You are borrowing</p>
          </span> 
      </div>
    </div>
  </div> -->

  <h3>      
      Requested Transactions
  </h3>
  <div ng-repeat="requested_transaction in requested_transactions">
    <div class="list card">
      <div ng-repeat="charger in chargers | filter:{id: requested_transaction.charger_id }">
        <div class="item item-avatar">
          <img src="{{charger.charger_photo}}">
          <!-- <p>{{charger.name}}</p> -->
          <span ng-if="requested_transaction.lender_id==userId">
            <!-- all charger_id are null because not set in the populate file -->
            <h3>Lending {{charger.name}} </h3>
            <!-- <div ng-repeat="user in users | filter:{id: current_transaction.borrower_id }"> -->
            <p>Lending to {{requested_transaction.lender_user.first_name + " " + requested_transaction.lender_user.last_name}}</p>
            {{userHasRequestedTransactions = true; ""}}
            <!-- <p> current_transaction.borrower_id</p> -->
            <!-- <p> Currently lending from Lender Name</p> -->
          </span> 
          <span ng-if="requested_transaction.borrower_id==userId">
            <h3>Borrowing {{charger.name}} </h3>
            <p>Borrowing from {{requested_transaction.lender_user.first_name + " " + requested_transaction.lender_user.last_name}}</p>
            {{userHasRequestedTransactions = true; ""}}
          </span> 
        </div>
      </div>
    </div>
  </div>
  <div ng-if="userHasRequestedTransactions == false"> 
    <h5>None</h5>
  </div>

  <h3>      
      Current Transactions
  </h3>
  <div ng-repeat="current_transaction in current_transactions">
    <div class="list card">
      <div ng-repeat="charger in chargers | filter:{id: current_transaction.charger_id }">
        <div class="item item-avatar">
          <img src="{{charger.charger_photo}}">
          <!-- <p>{{charger.name}}</p> -->
          <span ng-if="current_transaction.lender_id==userId">
            <!-- all charger_id are null because not set in the populate file -->
            <h3>Lending {{charger.name}} </h3>
            <!-- <div ng-repeat="user in users | filter:{id: current_transaction.borrower_id }"> -->
            <p>Lending to {{current_transaction.lender_user.first_name + " " + current_transaction.lender_user.last_name}}</p>
            {{userHasCurrentTransactions = true; ""}}
            <!-- <p> current_transaction.borrower_id</p> -->
            <!-- <p> Currently lending from Lender Name</p> -->
          </span> 
          <span ng-if="current_transaction.borrower_id==userId">
            <h3>Borrowing {{charger.name}} </h3>
            <p>Borrowing from {{current_transaction.lender_user.first_name + " " + current_transaction.lender_user.last_name}}</p>
            {{userHasCurrentTransactions = true; ""}}
          </span> 
        </div>
      </div>
<!--     <div class="item item-text-wrap">
      </div> -->
    </div>
  </div>
  <div ng-if="userHasCurrentTransactions == false"> 
    <h5>None</h5>
  </div>


<!--   <div class="card">
    <div class="item item-divider">
      Current Transactions
    </div>
    <div class="item item-text-wrap">
      <div class="list" ng-repeat="current_transaction in current_transactions">
        <span ng-if="current_transaction.lender_id==userId">
          all charger_id are null because not set in the populate file
        <p>You are lending {{current_transaction.charger_id}} to {{current_transaction.borrower_id}}</p>
        </span> 
        <span ng-if="current_transaction.borrower_id==userId">
        <p>You are borrowing {{current_transaction.charger_id}} from {{current_transaction.lender_id}}</p>
        </span> 
      </div>
    </div>
  </div> -->

  <h3>      
      Past Transactions
  </h3>
  <div ng-repeat="past_transaction in past_transactions">
    <div class="list card">
      <div ng-repeat="charger in chargers | filter:{id: past_transaction.charger_id }">
        <div class="item item-avatar">
          <img src="{{charger.charger_photo}}">
          <!-- <p>{{charger.name}}</p> -->
          <span ng-if="past_transaction.lender_id==userId" ng-init="userHasPastTransactions=true">
            <!-- all charger_id are null because not set in the populate file -->
            <h3>Lent {{charger.name}} </h3>
            <!-- <div ng-repeat="user in users | filter:{id: past_transaction.borrower_id }"> -->
            <p>Lent to {{past_transaction.lender_user.first_name + " " + past_transaction.lender_user.last_name}}</p>
            {{userHasPastTransactions = true; ""}}
            <!-- <p> past_transaction.borrower_id</p> -->
            <!-- <p> Currently lending from Lender Name</p> -->
          </span> 
          <span ng-if="past_transaction.borrower_id==userId" ng-init="userHasPastTransactions=true">
            <h3>Borrowed {{charger.name}} </h3>
            <p>Borrowed from {{past_transaction.lender_user.first_name + " " + past_transaction.lender_user.last_name}}</p>
            {{userHasPastTransactions = true; ""}}    
          </span> 
        </div>
      </div>
<!--     <div class="item item-text-wrap">
      </div> -->
    </div>
  </div>
  <div ng-if="userHasPastTransactions == false"> 
    <h5>None</h5>
  </div>

</ion-content>
</ion-view>