<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="My Transactions">
  <ion-content class="padding">
  <h3>      
      Requested Transactions
  </h3>
  <div ng-repeat="requested_transaction in requested_transactions">
    <div class="card">
      <div ng-repeat="charger in chargers | filter:{id: requested_transaction.charger_id }">
        <div class="item item-avatar">
          <img ng-src="{{charger.charger_photo}}">
          <!-- <p>{{charger.name}}</p> -->
          <span ng-if="requested_transaction.lender_id==userId">
            <!-- all charger_id are null because not set in the populate file -->
            <h3>Lend {{charger.name}} </h3>
            <!-- <div ng-repeat="user in users | filter:{id: current_transaction.borrower_id }"> -->
            <p>to {{requested_transaction.borrower_user.first_name + " " + requested_transaction.borrower_user.last_name}}?</p>
            {{userHasRequestedTransactions = true; ""}}
            <!-- <p> current_transaction.borrower_id</p> -->
            <!-- <p> Currently lending from Lender Name</p> -->
          </span> 
          <span ng-if="requested_transaction.borrower_id==userId">
            <h3>{{charger.name}} </h3>
            <p>Sent borrow request to {{requested_transaction.lender_user.first_name + " " + requested_transaction.lender_user.last_name}}</p>
            <p>Sent at {{requested_transaction.created_at | date: 'shortTime'}}</p>
            {{userHasRequestedTransactions = true; ""}}
          </span> 
        </div>
        <span ng-if="requested_transaction.borrower_id==userId">
          <div class=" button-bar item item-divider">
            <a ng-click="cancelRequest({{requested_transaction.id}})"class="button button-small button-block button-assertive">Cancel Request</a>
          </div>
        </span>
        <span ng-if="requested_transaction.lender_id==userId">
          <div class=" button-bar item item-divider">
            <a ng-click="transactionAccepted({{requested_transaction.id}})" class="button button-small button-block button-balanced">Accept</a>
            <a ng-click="transactionRejected({{requested_transaction.id}})"class="button button-small button-block button-assertive">Reject</a>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div ng-repeat="charger in requestedTransactionsFilteredByBorrower = (requested_transactions | filter:{borrower_id: userId})">
  </div>
  <div ng-repeat="charger in requestedTransactionsFilteredByLender = (requested_transactions | filter:{lender_id: userId})">
  </div>
  <div ng-if="requestedTransactionsFilteredByLender.length == 0">
    <div ng-if="requestedTransactionsFilteredByBorrower == 0"> 
      <h5>None</h5>
    </div>
  </div>


  <h3>      
      Current Transactions
  </h3>
  <div ng-repeat="current_transaction in current_transactions">
    <div class="card">
      <div ng-repeat="charger in chargers | filter:{id: current_transaction.charger_id }">
        <a class="item item-avatar item-icon-right" href = "#/tab/transactions/{{current_transaction.id}}">
          <img ng-src="{{charger.charger_photo}}">
          <!-- <p>{{charger.name}}</p> -->
          <span ng-if="current_transaction.lender_id==userId">
            <!-- all charger_id are null because not set in the populate file -->
            <h3>Lending {{charger.name}} </h3>
            <!-- <div ng-repeat="user in users | filter:{id: current_transaction.borrower_id }"> -->
            <p>Lending to {{current_transaction.borrower_user.first_name + " " + current_transaction.borrower_user.last_name}}</p>
            <span ng-if="current_transaction.start_time == nil">
              <p>Waiting for {{current_transaction.borrower_user.first_name}} to get charger </p>

            </span>
            <span ng-if="current_transaction.start_time != nil">
              <p>Lent at {{current_transaction.start_time | date: 'shortTime'}}</p>

            </span>
            {{userHasCurrentTransactions = true; ""}}
            <!-- <p> current_transaction.borrower_id</p> -->
            <!-- <p> Currently lending from Lender Name</p> -->
          </span> 
          <span ng-if="current_transaction.borrower_id==userId" ng-init="userHasCurrentTransactions='true'">
            <h3>Borrowing {{charger.name}} </h3>
            <p>Borrowing from {{current_transaction.lender_user.first_name + " " + current_transaction.lender_user.last_name}}</p>
            {{userHasCurrentTransactions = true; ""}}
            {{userHasCurrentTransactions = 'true'; ""}}

            <span ng-if="current_transaction.start_time == nil">
                <p>{{current_transaction.lender_user.first_name}} is ready to lend </p>
            </span>
            <span ng-if="current_transaction.start_time != nil">
                 <p>Borrowed at {{current_transaction.start_time | date: 'shortTime'}}</p>
            </span>
            
          </span> 
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
        </a>
      </div>
    </div>
  </div>
  <div ng-repeat="charger in currentTransactionsFilteredByLender = (current_transactions | filter:{lender_id: userId})">
  </div>
  <div ng-repeat="charger in currentTransactionsFilteredByBorrower = (current_transactions | filter:{borrower_id: userId})">
  </div>
  <div ng-if="currentTransactionsFilteredByLender.length == 0">
    <div ng-if="currentTransactionsFilteredByBorrower == 0"> 
      <h5>None</h5>
    </div>  
  </div>


  <h3>      
      Past Transactions
  </h3>
  <div ng-repeat="past_transaction in past_transactions">
    <div class="card">
      <div ng-repeat="charger in chargers | filter:{id: past_transaction.charger_id }">
        <a class="item item-avatar item-icon-right" href = "#/tab/transactions/{{past_transaction.id}}">
          <img ng-src="{{charger.charger_photo}}">
          <span ng-if="past_transaction.lender_id==userId" ng-init="userHasPastTransactions=true">
            <h3>Lent {{charger.name}} </h3>
            <p>Lent to {{past_transaction.borrower_user.first_name + " " + past_transaction.borrower_user.last_name}}</p>
            {{userHasPastTransactions = true; ""}}
            <p>Lent on {{past_transaction.start_time | date: "MM/dd 'at' h:mma" }}</p>
            <p>Returned on {{past_transaction.end_time | date: "MM/dd 'at' h:mma" }}</p>
          </span> 
          <span ng-if="past_transaction.borrower_id==userId" ng-init="userHasPastTransactions=true">
            <h3>Borrowed {{charger.name}} </h3>
            <p>Borrowed from {{past_transaction.lender_user.first_name + " " + past_transaction.lender_user.last_name}}</p>
            <p>Borrowed on {{past_transaction.start_time | date: "MM/dd 'at' h:mma" }}</p>
            <p>Returned on {{past_transaction.end_time | date: "MM/dd 'at' h:mma" }}</p>
            {{userHasPastTransactions = true; ""}}    
          </span> 
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
        </a>
      </div>
    </div>
  </div>
  <div ng-repeat="charger in past_transactionsFilteredByLender = (past_transactions | filter:{lender_id: userId})">
  </div>
  <div ng-repeat="charger in past_transactionsFilteredByBorrower = (past_transactions | filter:{borrower_id: userId})">
  </div>
  <div ng-if="past_transactionsFilteredByLender.length == 0">
    <div ng-if="past_transactionsFilteredByBorrower == 0"> 
      <h5>None</h5>
    </div>
  </div>
  </div>
</ion-content>
</ion-view>