<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Borrow Tab -->
  <ion-tab 
    title="Borrow" 
    icon-off="ion-ios-bolt-outline" 
    icon-on="ion-ios-bolt" 
    href="#/tab/borrow">
    <ion-nav-view name="tab-borrow"></ion-nav-view>
  </ion-tab>

  <!-- Transactions Tab -->
  <ion-tab 
    title="Transactions" 
    icon-off="ion-arrow-swap" 
    icon-on="ion-arrow-swap" 
    href="#/tab/transactions">
    <ion-nav-view name="tab-transactions"></ion-nav-view>
  </ion-tab>  
  
  <!-- Lending Tab -->
  <ion-tab 
    title="Lend/Manage" 
    icon-off="ion-ios-gear-outline" 
    icon-on="ion-ios-gear" 
    href="#/tab/lend">
    <ion-nav-view name="tab-lend"></ion-nav-view>
  </ion-tab>



   <!-- Chats Tab -->
<!--   <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->
  
  <!-- Account Tab -->
<!--   <ion-tab 
    title="Account" 
    icon-off="ion-ios-gear-outline" 
    icon-on="ion-ios-gear" 
    href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->


</ion-tabs>
