<ion-view view-title="Transaction Details">
  <ion-content class="">

    <!-- if current transaction -->
<div ng-if="transaction.end_time == nil">

    <!-- if user is borrower and transaction not started-->
    <!-- TODO: Add in a time once the charger is lent out -->
    <div ng-if="lender_id != userID && transaction.start_time == nil">
      <div class="item item-avatar">
        <img ng-src='{{transaction.charger_object.charger_photo}}'>
        <h2> Borrowing {{transaction.charger_object.name}} </h2>
        <p>Requested for {{transaction.length_time_requested}} minutes</p>
      </div>
      <div class="item item-avatar">
        <img ng-src="{{transaction.lender_user.user_photo}}">
        <h2>{{transaction.lender_user.first_name}} has accepted!</h2>
        <!-- <p>{{rounded_distance}} miles away</p> -->
        <p>Average Rating: {{transaction.lender_user.rating}} stars</p>
        <p>{{transaction.lender_user.facebook_mutual_friend_count}} mutual friends</p>
      </div>

      <div class-"item" id="map3" data-tap-disabled="true">
      </div>

      <div class="item">
        <p>Send {{transaction.lender_user.first_name}} a message to retrieve the charger!</p>
        <button class="button button-block button-balanced icon-right ion-chatbubble" ng-click="openMessenger()">Send {{transaction.lender_user.first_name}} a message</button>
      </div>
    </div>


    <!-- if user is lender  transaction not started-->
    <div ng-if="lender_id == userID && transaction.start_time == nil">
      <div class="item item-avatar">
        <img ng-src='{{transaction.charger_object.charger_photo}}'>
        <h2> Lending {{transaction.charger_object.name}} </h2>
        <p>Requested for {{transaction.length_time_requested}} minutes</p>
      </div>
      <div class="item item-avatar">
        <img ng-src="{{transaction.borrower_user.user_photo}}">
        <h2>{{transaction.borrower_user.first_name}}</h2>
        <!-- <p>{{rounded_distance}} miles away</p> -->
        <p>Average Rating: {{transaction.borrower_user.rating}} stars</p>
        <p>{{transaction.borrower_user.facebook_mutual_friend_count}} mutual friends</p>
      </div>

      <div class-"item" id="map3" data-tap-disabled="true">
      </div>

      <div class="item">
      <!--       Message the lender
      <i class="icon ion-chatbubble"></i> -->
      <!-- <span id="userPhone">717.544.6345</span> -->
      <p>Wait for {{transaction.borrower_user.first_name}} to pick up the charger!</p>
      <div class="row">
        <div class="col">
          <button class="button button-block button-stable" ng-click="">Message {{transaction.borrower_user.first_name}}</button>
        </div>
        <div class="col">
          <button class="button button-block button-balanced" ng-click="chargerPickedUp(transaction)">Charger Picked up</button>
        </div>
      </div>
    </div>
  </div>


  <!-- if user is borrower and transaction started-->
  <div ng-if="lender_id != userID && transaction.start_time != nil">
    <div class="item item-avatar">
      <img ng-src='{{transaction.charger_object.charger_photo}}'>
      <h2> Borrowing {{transaction.charger_object.name}} </h2>
      <p>Requested for {{transaction.length_time_requested}} minutes</p>
    </div>
    <div class="item item-avatar">
      <img ng-src="{{transaction.lender_user.user_photo}}">
      <h2>{{transaction.lender_user.first_name}}</h2>
      <!-- <p>{{rounded_distance}} miles away</p> -->
      <p>Average Rating: {{transaction.lender_user.rating}} stars</p>
      <p>{{transaction.lender_user.facebook_mutual_friend_count}} mutual friends</p>
    </div>

    <div class-"item" id="map3" data-tap-disabled="true">
    </div>

    <div class="item">
        <!--       Message the lender
        <i class="icon ion-chatbubble"></i> -->
        <!-- <span id="userPhone">717.544.6345</span> -->
        <p>Message {{transaction.lender_user.first_name}} to return the charger</p>
        <button class="button button-block button-balanced icon-right ion-chatbubble" ng-click="openMessenger()">Send {{transaction.lender_user.first_name}} a message</button>
      </div>
    </div>
      

    <!-- if user is Lender and transaction started-->
    <div ng-if="lender_id == userID && transaction.start_time != nil">
      <div class="item item-avatar">
        <img ng-src='{{transaction.charger_object.charger_photo}}'>
        <h2> Lending {{transaction.charger_object.name}} </h2>
        <p>Requested for {{transaction.length_time_requested}} minutes</p>
      </div>
      <div class="item item-avatar">
        <img ng-src="{{transaction.borrower_user.user_photo}}">
        <h2>{{transaction.borrower_user.first_name}}</h2>
        <!-- <p>{{rounded_distance}} miles away</p> -->
        <p>Average Rating: {{transaction.borrower_user.rating}} stars</p>
        <p>{{transaction.borrower_user.facebook_mutual_friend_count}} mutual friends</p>
      </div>

      <div class-"item" id="map3" data-tap-disabled="true">
      </div>

      <div class="item">
          <!--       Message the lender
          <i class="icon ion-chatbubble"></i> -->
          <!-- <span id="userPhone">717.544.6345</span> -->
          <p>Message {{transaction.borrower_user.first_name}} to request charger return</p>
          <div class="row">
            <div class="col">
              <button class="button button-block button-stable" ng-click="">Message {{transaction.borrower_user.first_name}}</button>
            </div>
            <div class="col">
              <a href="#/tab/lend/rating" class="button button-block button-balanced" ng-click="chargerReturned(transaction)">Charger Returned</a>
            </div>
          </div>          
        </div>
      </div>
    </div>

      <!-- if past transaction -->
    <div ng-if = "transaction.end_time != nil">

      <!-- if user was the borrower -->
      <div ng-if = "transaction.borrower_user.id == userID">
        <div class="item item-avatar">
          <img ng-src='{{transaction.charger_object.charger_photo}}'>
          <h2> Borrowed {{transaction.charger_object.name}} </h2>
          <p>Borrowed for {{transaction.length_time_requested}} minutes</p>
        </div>
        <div class="item item-avatar">
          <img src="{{transaction.lender_user.user_photo}}">
          <h2>{{transaction.lender_user.first_name}}</h2>
          <p>Average Rating: {{transaction.lender_user.rating}} stars</p>
          <p>{{transaction.lender_user.facebook_mutual_friend_count}} mutual friends</p>
        </div>

        <div class="item">
          <h4>Rate the Lender!</h4>
          <div class= "rating">
            <input class="radio-input" type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
            <input class="radio-input" type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
            <input class="radio-input" type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
            <input class="radio-input" type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
            <input class="radio-input" type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
          </div>
          <div>
            <a ng-click ="openVenmo()" class="button button-block button-calm">Tip {{transaction.lender_user.first_name}}</a>
          </div>          
        </div>
      </div>

      <div ng-if = "transaction.lender_user.id == userID">
        <div class="item item-avatar">
          <img ng-src='{{transaction.charger_object.charger_photo}}'>
          <h2> Borrowed {{transaction.charger_object.name}} </h2>
          <p>Borrowed for {{transaction.length_time_requested}} minutes</p>
        </div>
        <div class="item item-avatar">
          <img ng-src="{{transaction.borrower_user.user_photo}}">
          <h2>{{transaction.borrower_user.first_name}}</h2>
          <p>Average Rating: {{transaction.lender_user.rating}} stars</p>
          <p>{{transaction.lender_user.facebook_mutual_friend_count}} mutual friends</p>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>