<ion-view view-title="User Information"><!-- {{owned_device.personal_device_name}}"> -->
    <ion-nav-buttons side="primary">
      <button class="button button-clear button-calm" ng-click="close()">
        Back
      </button>
    </ion-nav-buttons>

  <ion-nav-back-button side="primpary" class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>

  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text"  ng-model="data.user.first_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="data.user.last_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" ng-model="data.user.user_email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="Optional" ng-model="data.user.password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Confirm New Password</span>
        <input type="password" placeholder="Optional" ng-model="data.user.password_confirmation">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Old Password</span>
        <input type="password" placeholder="Required" ng-model="data.user.old_password">
      </label>
    </div>  
    <a class="button icon-left ion-loop button-block button-calm" ng-click="update()">
      Update  
    </a>
<!--     <div class="padding">
      <button class="button button-block button-assertive" ng-click="close()">Close</button>
    </div>  -->
  </ion-content>
</ion-view>