<ion-view view-title="User Information"><!-- {{owned_device.personal_device_name}}"> -->
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text"  ng-model="data.user.first_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="data.user.last_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" ng-model="data.user.user_email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="Optional" ng-model="data.user.password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Confirm New Password</span>
        <input type="password" placeholder="Optional" ng-model="data.user.password_confirmation">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Old Password</span>
        <input type="password" placeholder="Required" ng-model="data.user.old_password">
      </label>
    </div>

    <a class="button icon-left ion-loop button-block button-light" ng-click="update()">
      Update  
    </a>

  </ion-content>
</ion-view>